body{
    background-color: #ffffff;
}

h1{
    color: #010101;
    font: Arial;
    font-family: 'Poppins', sans-serif;
}

hr{
    border: 1px solid #010101;
    margin-bottom: 15px;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
    font-family: 'Poppins', sans-serif;
}

.resposta{
    display: flex;
}

.resposta p{
    margin: 10px 20px 10px 0px;
    color: #010101;
}

#texto{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

textarea{
    background-color: #f1f2f8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: none;
    height: 400px;
    width: 700px;
}
